*{
    font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a{
    color: inherit;
}

*:focus{
    outline: none;
}

body{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

p{
    color: #393939;
}

.title{
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    background-color: #0082C3;
    font-size: 1.2rem;
    padding: 0.1rem 0.7rem;
    transform: skewX(-10deg);
    display: inline-block;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-left: 10%;
    font-weight: bold;
}

.some_title{
    margin: 0.5rem;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    background-color: #FD8102;
    font-size: 1.2rem;
    padding: 0.1rem 0.7rem;
    display: inline-block;
    text-align: center;
    text-align: center;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.paragraphe{
    font-size: 1rem;
    text-align: left;
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1rem;
}

.menu{
    z-index: 199;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 130, 195, 0.8);
}

.menu li{
    list-style-type: none;
    text-align: center;
}

.menu a{
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 2.2rem;
}

.menu a:hover{
    color:#FD8102;
    transition: all 300ms ease-in-out;
}

.menu .active{
    font-weight: bold;
}

.hamburger{
    cursor: pointer;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    color: #0082C3;
    z-index: 100;
    transition: all 300ms ease-out;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: white;
    z-index: 200;
}

.msg{
    position: fixed;
    z-index: 500;
    left: 50%;
    transform: translate(-50%,0%) skewX(-10deg);
    top: 10rem;
    color: white;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
}

.vert{
    background-color: #489148;
}

.rouge{
    background-color: #FD8102;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row{
    flex-direction: row;
}

.main .form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    justify-content: center;
    border: solid 1px #0082C3;
    padding: 1rem;
}

.main .form input{
    width:60%;
    border: none;
    border-bottom: solid 1px #0082C3;
    padding: 0rem 0.2rem;
    color: #0082C3;
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: center;
    margin-top: 1rem;
    transition: all 300ms ease-in-out;
}

.main .form input::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #6dafd0;
    font-size: 1rem;
    font-style: italic;
}

.main .form input:focus{
    width: 70%;
    transition: all 300ms ease-in-out;
}

.bouton_main{
    border: solid 1px #0082C3;
    text-transform: uppercase;
    display: inline-block;
    width: 80%;
    text-align: center;
    margin: 0.5rem auto;
}

.bouton_main a{
    cursor: pointer;
    color: #0082C3;
    display: inline-block;
    line-height: 2.5rem;
    min-width: 2rem;
    text-align: center;
}

.bouton_main a::after{
    content: ">";
    color: #FD8102;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    position: relative;
}

.bouton_main:hover a{
    color:white;
    transition: all 300ms ease-out;
}

.bouton_main:hover{
    background-color: #0082C3;
    transition: all 300ms ease-out;
}

button.bouton_main{
    cursor: pointer;
    margin-top: 1.5rem;
    background-color: transparent;
    padding: 0rem 1rem;
    width: auto;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #0082C3;
}

button.add_etape{
    line-height: 1.5rem!important;
    padding: 0rem 0.5rem!important;
    border-radius: 5px;
}

button.bouton_main::after{
    content: ">";
    color: #FD8102;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    position: relative;
}

button.bouton_main:hover{
    color: white;
    transition: all 300ms ease-out;
}

.selecteur{
    display: flex;
    align-items: flex-start ;
    justify-content: flex-start ;
    flex-direction: column;
}

.selecteur .nom{
    display: inline;
    text-transform: uppercase;
    font-style: italic;
    transform: rotate(-10deg);
    font-size: 3rem;
    font-weight: bold;
    color: #0082C3;
    border-bottom: solid 4px #FD8102;
    line-height: 3.5rem;
    margin-bottom: 3rem;
    transition : all 300ms ease-out;
    color: #0082C3;
}

.index .selecteur .nom{
    margin-bottom: 5rem;
}

.selecteur .nom a{
    color: #0082C3;
    transition : all 300ms ease-out;
}

.selecteur .nom:hover a{
    color:#FD8102!important;
    transition : all 300ms ease-out;
}

.selecteur .nom:hover{
    border-bottom: solid 4px #0082C3!important;
    transition : all 300ms ease-out;
}

.width_auto_bouton{
    width: auto!important;
    padding: 0rem 1rem;
}

.boutons_edition .width_auto_bouton{
    margin: 1rem 0.5rem!important;
}

.head_liste{
    z-index: 10;
    height: 8rem;
    position: fixed;
    background-color: white;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: solid 1px #0082C3;
}

.head_liste .selecteur{
    margin: 0 auto;
}

.head_liste .selecteur .nom{
    transform: rotate(0deg)!important;
    margin-bottom: 0.5rem;
}

.bouton_retour{
    margin-right: 0.5rem;
}

.bouton_retour a::after, button.no_sign_bouton::after{
    content: ""!important;
}

.bouton_plus::after{
    content: "+"!important;
}

.bouton_delete a::after{
    content: "X"!important;
    font-size: 1rem;
}

.bouton_delete{
    margin-left: 0.5rem;
}

.bouton_retour a::before{
    content: "<";
    color: #FD8102;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    position: relative;
}

.liste_obj{
    width: 100%;
    position: absolute;
    top: 10rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0rem;
}

.liste_obj .carte_obj{
    position: relative;
    display: flex;
    flex-direction: column;
    border: solid 1px #0082C3;
    margin: 1rem;
    flex: 0 27rem;
    padding-bottom: 4rem;
    transition: all 300ms ease-in-out;
}

.liste_obj .carte_obj .head{
    background-color: #0082C3;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    width: 100%;
}

.liste_obj .carte_obj .head p{
    color: white;
    font-size: 1.3rem;
    width: 80%;
    margin: 0.25rem auto;
}

.liste_obj .carte_obj .image{
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.liste_obj .carte_obj .image img{
    max-width: 100%;
    max-height: 12rem;
}


.liste_obj .carte_obj .content{
    width: 90%;
    padding: 1rem;
}

.liste_obj .carte_obj .section_title{
    display: block;
    color: #FD8102;
    text-transform: uppercase;
}

.liste_obj .carte_obj .content p{
    margin-bottom: 0.5rem;
}

.liste_obj .content ul {
    margin-left: 0.5rem!important;
    margin-bottom: 0.5rem;
}

.liste_obj .content li:before{
    content: '/';
    margin-right: 0.5rem;
    color: #0082C3;
}

.liste_obj .carte_obj .boutons_edition{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutons_edition{
    margin: 0 auto;
}

.suppr_form .nom{
    color: #FD8102;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
}

.container_form_ajout{
    width: 100%;
    position: absolute;
    top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

form.ajout{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

form.ajout .div_input{
    width:100%;
    display: flex;
    align-items: center;
    margin: 0.7rem 0rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form.ajout .div_input img{
    max-width: 16rem;
    max-height: 16rem;
    display: inline-block;
    margin: 0 auto;
}

form.ajout .input_wrap{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form.ajout .textarea{
    width:100%;
}

.required::after{
    content:'*';
    color: #e33232;
    margin-left: 0.25rem;
}

.requis{
    font-size: 1rem;
}

.remove_field{
    color: rgb(227, 50, 50);
    transition: all 300ms ease-out;
    cursor: pointer;
}

.remove_field:hover{
    color: rgba(227, 50, 50,0.7)!important;
    transition: all 300ms ease-out;
}

.requis span{
    color: #e33232;
    margin-right: 0.25rem;
}

form.ajout .div_input label{
    text-transform: uppercase;
    color:#0082C3;
    font-size: 1.1rem;

}

form.ajout .div_input .indication{
    color:#2c2c2c;
    font-style: italic;
    font-size: 1rem;
    margin-top: 0.25rem;
}

form.ajout .div_input .double_label{
    display: flex;
    align-items: center;
}

form.ajout .div_input .double_label label:first-child{
    margin-right: 0.5rem;
}

form.ajout .div_input input, form.ajout .div_input select{
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    border: none;
    border-bottom: solid 1px #0082C3;
    border-left: solid 1px #0082C3;
    padding-left: 0.25rem;
    transition:all 300ms ease;
    font-family: inherit;
}


form.ajout .div_input option{
    font-size: 1rem;
    line-height: 1.9rem!important;
}

form.ajout .input_wrap input{
    margin-top: 0.5rem;
}

form.ajout .div_input input:focus{
    line-height: 1.9rem;
    transition:all 300ms ease;
}


form.ajout .div_input .hidden_content{
    margin-top: 1.5rem;
    width: 100%;
}

form.ajout .div_input .hidden_content .inner{
    width: 95%; 
}

form.ajout .div_input .hidden_content label:not(:first-child)::before{
    content: "";
    height: 1rem;
    display: block;
}


form.ajout .div_input .hidden_content input{
    width: 99%;
}

form.ajout .textarea textarea{
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    border: none;
    border: solid 1px #0082C3;
    padding: 0.25rem;
}

form.ajout .input_etape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.erreur_nombre{
    text-align: center;
    background-color: #FD8102;
    color: white;
    margin: 0 auto;
    flex-direction: column;
    max-width: 60%;
    padding: 1rem;
}

.erreur_nombre p{
    color: white;
    margin: 0;
}

.erreur_nombre .material-icons{
    margin-bottom: 0.5rem;
}

.erreur_nombre a{
    background-color: white;
    cursor: pointer;
    width: 2rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    color : #FD8102;
    padding: 0.1rem 0.2rem;
}

.ajout_image p a{
    color: #FD8102;
}

.type_file{
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
    border: transparent!important;
    font-size: 1rem!important;
    font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif!important;
    line-height: 1.5rem!important;
}

.edit_image{
    border: solid 1px #0082C3!important;
    padding: 1rem 0.25rem;
    width: 100%;
}

.align_left{
    text-align: left!important;
    margin-left:0!important;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 18px;
    float: left;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 80%;
    border-radius: 50px;

}

.slider:before {
    position: absolute;
    content: "";
    top: 4px;
    height: 10px;
    width: 10px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #0082C3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}


/* Rounded sliders */

.slider.round {
}

.slider.round:before {
}


#login{
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 500px) {

    .main.index{
        width: 80%;
        margin: 0 auto;
    }
    
    .main .form{
        width: 80%;
    }
    
    .msg{
        top: 2rem;
    }
    .selecteur .nom{
        font-size: 2rem;
        border-bottom: solid 3px #FD8102;
        line-height: 3rem;
        margin-bottom: 2rem;
    }
    .head_liste{
        position: absolute;
        height: 7rem;
        padding: 1rem 0rem;
    }
    .liste_obj{
        padding: 0rem;
        padding-bottom: 2rem;
    }
    .liste_obj .carte_obj{
        margin: 1rem 0rem;
        flex: 0 18rem;
    }
    
    .hamburger{
        position: fixed!important;
    }
    
    .liste_obj .carte_obj .content{
        padding: 0;
        width: 90%;
        margin: 1rem auto;
    }
    
    form.ajout{
        width: 80%;
        padding-top: 0rem;
    }
}